In [ ]:
# class Pegawai:
#     def __init__(self, nama, gaji):
#         self.nama = nama
#         self.gaji = gaji
#         Pegawai.jumlah += 1
    
#     def tampilJumlah(self):
#         print("Total Pegawai:", Pegawai.jumlah)
    
#     def tampilPegawai(self):
#         print(f"Nama: {self.nama}, Gaji: {self.gaji}")
    
#     def tunjangan(self, istri=None, anak=None):
#         if anak != None and istri != None:
#             total = anak + istri
#             print(f"Tunjangan anak + istri: {total}")

In [ ]:
import sqlite3
conn = sqlite3.connect('motor.db')
cursor = conn.cursor()

cursor.execute("""
                CREATE TABLE IF NOT EXISTS motor (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                merk TEXT,
                harga INTEGER,
                tahun INTEGER)""")
conn.commit()


cursor.execute("INSERT INTO motor (merk, harga, tahun) VALUES ('Yamaha', 15000000, 2020)")
conn.commit()